.jan {
  stroke: #0fa88975;
}

.feb {
  stroke: #0e7ba575;
}

.mar {
  stroke: #620ecf75;
}

rect {
  fill: #00000050;
  stroke-width: 2;
}

text.check {
  fill: greenyellow;
  font-size: 8px;
  stroke-width: 1;
  stroke: greenyellow;
}