.jan, .feb, .mar { stroke: #0ea51b75; }
.apr, .may, .jun { stroke: #0e6ea5b7; }
.jul, .aug, .sep { stroke: #9ba50e93; }
.oct, .nov, .dec { stroke: #f870b485; }

rect {
  fill: #00000050;
  stroke-width: 2;
}

text.check {
  fill: greenyellow;
  font-size: 8px;
  stroke-width: 1;
  stroke: greenyellow;
}